@import url("./gitalk.css");

html{
 font-size 14px
 body{
  font-size 14px
  .VPContent{
  	.VPDoc{
     .content{
      .vp-doc h4{
		    margin-top 10px
      }
     }
     .aside{
      .outline-marker{
        border-radius: 4px;
        width: 4px;
        height: 20px;
        }
      padding-right 20px
      .outline-link{
        font-size 12px
      }
     }
    }
  }
 }
}
